@charset "utf-8";

:root {
    --cor01: #172121;
    --cor02: #444554;
    --cor03: #7f7b8265;

    --fonte-destaque: "Passion One", sans-serif;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-padrao2: 'Times New Roman', Times, serif;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
}

header {
    background-color: var(--cor02);
    text-align: center;
    padding: 50px;
    
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
    font-weight: normal;
    color:white;
}

header > p {
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.712);
    font-size: 1.3em;
}

main {
   background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    padding-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.275);
}

section {
    font-size: var(--fonte-padrao);
    padding: 20px;
    line-height: 2.0em;
}

section > ul {
    padding-left: 20px;
}

h2, h3, h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.4em;
}

